*{
  font-family: Arial;
}
.left {
  display: flex;
  padding: 30px;
}

.img{
  width: 100px;
  margin-right: 10px;
  border-radius: 10px;
}

.right {
  display: flex;
  align-items: end;
  margin-right: 20px;
}

.nahore{
  display: flex;
}

.lavaa{
  display: flex;
  flex-direction: column;
}

.dole{
  display: flex;
  font-size: 10px;
  color: rebeccapurple;
}

.card {
  flex-direction: row;
  justify-content: space-evenly;
  display: flex;
}

.BookList {
  display: flex;
  flex-direction: column;
}

.Book {
  border-color: rebeccapurple;
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  margin: 5px;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  border-width: 1px;
}

.a {
  margin-top: 10px;
  color: rebeccapurple;
  margin-left: 130px;
}